a {
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: black;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

header {
	height: 5vh;
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 25px;
	background-color: aquamarine;
}

header > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	margin: 25px;
}

.back-link {
	color: white;
	padding: 5px 15px;
	border-radius: 25px;
	background-color: mediumseagreen;
}

.select-container {
	gap: 5px;
	font-weight: bold;
}

#language {
	border:none;
	background-color: white;
	padding: 5px;
	border-radius: 25px;
}