/* Import et Variables*/


/* Tags HTML5 */
body {
	margin: 0;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #EEE;
	padding: 10px;
	border-top-right-radius: 15px;
}


/* Classes */
.background {
	background-image: url('/media/images/background.png');
	background-position: bottom;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100wv;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hiden {
	display: none;
}

.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index:100;
}

.up-arrow {
	color: red;
	font-weight: bold;
}

/* IDs */