/* Import et Variables*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Tags HTML5 */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    background-color: #FFD52E;
    padding: .3rem 1rem;
    border-top-right-radius: 8px;
}


/*canvas {
    border: 3px solid red;
}*/


/* IDs */

#bird-canvas {
    position: fixed;
    z-index: 20;
    top: 0;
    left: calc(33.45% - 70px);
}

#pipe-canvas {
    position: fixed;
    z-index: 10;
    top: 0;
}


/* Classes */

.background {
    background-image: url('/media/images/background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.hidden {
    display: none;
}

.bird {
    height: 100px;
    width: 130px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

.up-arrow,
.space {
    color: red;
    font-weight: bold;
}

.message {
    position: absolute;
    z-index: 10;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

.volume,
footer {
    display: flex;
    font-weight: bold;
}

footer div.volume,
.volume input {
    margin-left: 10px;
}

footer div.about {
    margin-right: 10px;
}

.message-style {
    /* background-color: white;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px; */
    background-image: url('/media/images/nuage.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
    width: 40vw;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 100;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.score_val {
    color: gold;
    font-weight: bold;
}

.about-link {
    text-decoration: none;
    font-family: sans-serif;
    color: #002A32;
    font-weight: bold;
}


/* Media query */

@media only screen and (max-width: 1080px) {
    .message {
        font-size: 30px;
        top: 20%;
        white-space: nowrap;
        margin-top: 20vh;
    }
    .score {
        font-size: 8vh;
    }
    .bird {
        width: 70px;
        height: 55px;
    }
    /* .pipe_sprite{
		width: 14vw;
	} */
}

@media only screen and (max-width: 600px) {
    .message {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .message {
        font-size: 15px;
    }
}